#field {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1rem);
    grid-auto-rows: minmax(1rem, auto);
    gap: 0.15rem;
    inset: 3rem 1rem 1rem;
    width: calc(100% / var(--part) - 2rem);
    height: calc(100% / var(--part) - 4rem);
    margin: auto;
    position: absolute;
    user-select: none;
    pointer-events: auto;
    --webkit-user-select: none;
}