#scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#scoreboard>* {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#stop {
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    box-shadow: var(--shadow);
    background-color: var(--dark);
    color: var(--primary);
    border: 0;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.15rem 1rem;
}

#stop:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}

#gh {
    background-image: url('../svg/gh.svg');
    text-decoration: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    bottom: 2px;
    position: relative;
}